# **mle8- midterm**
#### Sheilah K. (@skirui-source)

The objective of this assignment is to perform an intensive analysis of consumer behavioral, applying techniques ranging from supervised, unsupervised learning, as well as semi-supervised learning.

In [1]:
from IPython.core.interactiveshell import InteractiveShell
import warnings

InteractiveShell.ast_node_interactivity = "all" # allow multiple outputs in a cell
warnings.filterwarnings("ignore")

## **Task 1: Classification (50 points)**

Build a predictive classification model using data entries corresponding to the months of June—December as training set, and those corresponding to February—March as test set.

More specifically,

1. Fit a logistic regression and at least one other classification model. Find and explain important features.
2. Report and interpret the most meaningful classifications metrics
3. Show and explain the hyper-parameter fitting process.

### (10 points) Exploratory data analysis
- Load and exmine data, appropriate univariate/ bivariate descriptive statistics and figures
- other advanced EDA methods

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("dat/online_shoppers_intention.csv.gz")

In [4]:
data.shape

(12330, 18)

In [6]:
data.sample(5)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
2411,2,89.75,1,89.0,49,2104.311400,0.009615,0.019542,8.979935,0.8,May,1,1,4,2,Returning_Visitor,False,False
7208,1,0.00,0,0.0,29,1085.900000,0.000000,0.007407,30.545963,0.0,Nov,2,2,1,4,New_Visitor,False,True
2188,5,724.50,0,0.0,23,867.333333,0.000000,0.000826,59.988000,0.0,May,1,1,1,2,Returning_Visitor,False,True
9475,3,74.50,1,88.0,113,3770.021698,0.008005,0.019005,14.850517,0.0,Dec,3,2,1,1,Returning_Visitor,True,False
1936,1,7.00,1,0.0,79,3380.691558,0.002667,0.023772,0.000000,0.0,Mar,2,2,3,2,Returning_Visitor,True,False

In [7]:
data.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [8]:
data.isna().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

#### Split dataset into train and test.

We should perform EDA only on the training data, and not the entire dataset to avoid "data leakage", i.e exposing knowledge of the testing data's characteristics that could lead to "overfitting". I decided to do the standard 70-30% split

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test =  train_test_split(data, train_size=0.7, random_state=42)

In [ ]:
print('Original set  ---> ',data.shape,
      '\nTraining set  ---> ',X_train.shape,
      '\nTesting set   ---> ', X_test.shape)

In [ ]:
X_train.sample(5)

In [ ]:
X_train.nunique()

In [ ]:
pd.options.display.float_format = "{:,.2f}".format
X_train.describe()

In [ ]:
X_train["Revenue"]

In [ ]:
# data.drop("Revenue", axis=1, inplace=True)
# data.shape